@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */

/* Link styles */
.a{
    text-decoration: none;
    position: relative; /* Required for positioning pseudo-element */
  }
  
  /* Underline using ::before pseudo-element */
.a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* Position the underline just below the link text */
    left: 0;
    width: 0; /* Initially set the width to 0, so it's not visible */
    height: 2px;
    background-color: #fff; /* Set the underline color */
    transition: width 0.3s; /* Add a transition for smooth animation of the underline width */
  }
  
  /* Underline effect on hover */
.a:hover::after {
    width: 80%; /* Change the width to 100% on hover to display the full underline */
  }

.a.active::after{
    content: '';
    position: absolute;
    bottom: -5px; /* Position the underline just below the link text */
    left: 0;
    width: 80%; /* Initially set the width to 0, so it's not visible */
    height: 2px;
    background-color: #fff; /* Set the underline color */
    transition: width 0.3s; /* Set the underline color */
}

.b{
  text-decoration: none;
  position: relative; /* Required for positioning pseudo-element */
}

.b::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Position the underline just below the link text */
  left: 0;
  width:20%; /* Initially set the width to 0, so it's not visible */
  height: 3px;
  background-color: #0078ff; /* Set the underline color */
  transition: width 0.3s; /* Add a transition for smooth animation of the underline width */
}
.c{
  text-decoration: none;
  position: relative; /* Required for positioning pseudo-element */
}

.c::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Position the underline just below the link text */
  left: 0;
  width:30%; /* Initially set the width to 0, so it's not visible */
  height: 3px;
  background-color: #0078ff; /* Set the underline color */
  transition: width 0.3s; /* Add a transition for smooth animation of the underline width */
}
.background-container {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
@media only screen and (min-width: 768px) {
  .bg-image {
    background-image: url("/src/img/overlay-bg.jpg");
  }
}

  