
@tailwind base;
@tailwind components;
@tailwind utilities;

.h-app{
    min-height: 100vh;
}

.hero-bg{
    background-image: url('./img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}

.hero-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-h-2{
    font-size: 2.5rem;
    font-weight: 600;
}

.typed-cursor{
    font-size: 2.5rem;
}

.hero-bb::before{

    content: '';
    position: absolute;
    width: 22%;
    height: 4px;
    bottom: -15px;
    background-color: #0078FF;

}

.custom-shadow{
    box-shadow: .3px .3px 6px 1px rgb(207, 206, 206);
}

